header {
    background-color: #0E0E7B;
    color: #FFFFFF;
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
    top: 0;
    position: fixed;
    top: 0;
    z-index: 3;
    .header-tit {
        font-size: 30px;
        font-family: 'Stalinist One', cursive;
        margin: 1.25% 15% 0% 10%;
        user-select: all;
        display: inline-block;
        cursor: default;
        animation: fade-in 0.5s ease;
    }
    ul {
        list-style: none;
        margin-top: 4%;
        font-size: 20px;
        .h-inactive:link {
            color: #FFFFFF;
            transition: 0.5s;
        }
        .h-inactive:visited {
            color: #FFFFFF;
            transition: 0.25s;
        }
        .h-inactive:hover {
            background-color: #FFFFFF;
            color: $main-color;
            border-radius: 45px;
            padding: 6%;
            transition: 0.25s;
        }
        .h-active {
            background-color: #FFFFFF;
            color: $main-color;
            border-radius: 45px;
            padding: 6%;
        }
        li {
            display: inline-block;
            font-family: 'League Spartan', sans-serif;
            a {
                text-decoration: none;
                margin-right: 40px;
                animation: fade-in 0.5s ease;
            }
        }
    }
}