@import "reset";
@import "header";
@import "footer";



/*/////////////////////////////////*/

/* MAIN */

/* INDEX */

/* PORTADA */

#carr-sign, #carr-prev #carr-next {
    z-index: 1;
}

#carr {
    z-index: -2;
    width: 100%;
    height: 399px;
    margin-top: 80px; 
}

#carr-img {
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    -moz-filter: brightness(60%);
}

#carr-text {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

/*/////////////////////////////////*/

/* GRILLAS DE CATEGORÍAS */

.categoria-container {
    margin: 3% 5% 75px 5%;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid; 
    grid-template-columns: repeat(5, auto); 
    grid-template-rows: 50px auto; 
    column-gap: 5%;
    grid-template-areas: 
    "categoria categoria categoria categoria categoria"
    "item1 item2 item3 item4 item5"; 
}

.tit-cate { 
    grid-area: categoria; 
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
}

.griditemindex1 { 
    grid-area: item1; 
}

.griditemindex2 { 
    grid-area: item2; 
}

.griditemindex3 { 
    grid-area: item3; 
}

.griditemindex4 { 
    grid-area: item4; 
}

.griditemindex5 { 
    grid-area: item5; 
}

.grid-image-index {
    width: 100%;
    height: 100%;
}

/*/////////////////////////////////*/

/* ANIMACIÓN DEL HOVER EN EL INDEX*/

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper > .grid-image-index {
    display: block;
    width: 100%;
}

.img-wrapper > .cont-hover-index {
    position: absolute;
    inset: 0;
    font-size: 12px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
}

.img-wrapper > .grid-image-index,
.img-wrapper > .cont-hover-index {
    transition: 200ms ease-in-out;
}

.img-wrapper > .cont-hover-index.fade {
    opacity: 0;
}

.img-wrapper:hover > .cont-hover-index.fade {
    opacity: 1;
}

.img-wrapper:hover > .grid-image-index.blur {
    filter: blur(3px);
}

.img-wrapper:hover > .grid-image-index.zoom {
    transform: scale(1.2);
}

/*/////////////////////////////////*/

/* CATÁLOGO*/

/* SELECTOR DE PAGINAS*/

#pag-select {
    width: 25%;
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 4%;
}

#pag-sel-act {
    background-color: #0E0E7B;
    color: white;
    border-radius: 10px;
}

#pag-sel-inact {
    color: #0E0E7B;
    border-radius: 10px;
    transition: 0.5s;
}

#pag-sel-inact:hover {
    background-color: #0E0E7B;
    color: #FFFFFF;
    transition: 0.5s;
}

/*/////////////////////////////////*/

/* CATÁLOGO CARDS */

.card-cata {
    background-color: #0E0E7B;
    position: relative;
    width: 75%;
    margin: 0 auto;
    border-radius: 15px;
    animation: fade-in 0.5s ease;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 22% 73% 5%;
    grid-template-rows: 50px auto;
    grid-template-areas: 
    "img-cata tit-cata carrito"
    "img-cata txt-cata txt-cata";
}

.img-cata {
    grid-area: img-cata;
    margin: 8% 0% 8% 8%;
}

.tit-cata {
    grid-area: tit-cata;
    margin: 1% 0% 0% 0%;
    color: white;
    font-size: 27px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
}

.txt-cata {
    grid-area: txt-cata;
    color: white;
    font-weight: 300;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
    line-height: 1.6;
}

.carrito {
    grid-area: carrito;
    width: 27px;
    height: 27px;
    margin-top: 25%;
}

.prox-sign {
    position: absolute;
    top: 84%;
    width: 17.1%;
    height: auto;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'League Spartan', sans-serif;
    background: rgba(0, 0, 0, 0.65);
}

.cata-item {
    width: 195px;
    height: 270px;
}

/*/////////////////////////////////*/

/* SOUNDTRACKS */

.portada-st {
    width: 100%;
    height: 399px;
    margin-top: 80px;
    animation: fade-in 0.5s ease;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
}

.portada-st-txt {
    color: white;
    position: absolute;
    top: 50%;
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    animation: fade-in 0.5s ease;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.st-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 352px;
    font-family: 'League Spartan', sans-serif;
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    column-gap: 3%;
    grid-template-areas: 
    "txt-st1 txt-st2 txt-st3 txt-st4"
    "tema1 tema2 tema3 tema4";
}

.txt-st1 {
    grid-area: txt-st1;
    margin: 0 auto;
}

.txt-st2 {
    grid-area: txt-st2;
    margin: 0 auto;
}

.txt-st3 {
    grid-area: txt-st3;
    margin: 0 auto;
}

.txt-st4 {
    grid-area: txt-st4;
    margin: 0 auto;
}

.tema1 {
    grid-area: tema1;
}

.tema2 {
    grid-area: tema2;
}

.tema3 {
    grid-area: tema3;
}

.tema4 {
    grid-area: tema4;
}

.tema1, .tema2, .tema3, .tema4 {
    height: 352px;
    width: 100%;
}

/*/////////////////////////////////*/

/* TRAILERS */

.trail-cont {
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trail-item {
    width: 560px;
    height: 315px;
}

/*/////////////////////////////////*/

/* CONTACTO */

form  {
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 120px auto;
    background-color: #0E0E7B;
    animation: fade-in 0.5s ease;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-top: 10px;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid rgb(154, 152, 152);
    border-radius: 15px;
}

.form-mensaje {
    resize: none;
    padding-bottom: 50px;
    margin-bottom: 15px;
}

.form-rta {
    background-color: #FFFFFF;
    border: none;
    font-weight: 700;
    cursor: pointer;
    color: #0E0E7B;
    transition: 0.5s;
}

.form-rta:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.titulo-form {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
}

/*/////////////////////////////////*/

/* FOOTER*/



/*/////////////////////////////////*/

/* DISEÑO RESPONSIVE */

/* MOBILE */

@media only screen and (max-width: 500px) {

    /* HEADER */
    header {
        height: 40px;
    }

    .header-tit {
        font-size: 16px;
        margin: 2% 8% 0 2%;
    }

    header ul {
        font-size: 10px;
        margin-top: 5%;
    }

    nav ul li a {
        margin-right: 4px;
    }

    /* FOOTER */
    .links-footer {
        font-size: 10px;
    }

    .links-footer a {
        margin-right: 20px;
    }

    .f-tit {
        font-size: 8px;
    }

    .cr-f {
        font-size: 6px;
    }

    .red-item {
        width: 25px;
        height: 25px;
    }

    /* INDEX */
    #carouselExampleCaptions {
        display: none;
    }

    .categoria-container {
        margin-top: 50px;
    }

    .tit-cate {
        font-size: 16px;
    }

    /* CATÁLOGO */
    .card-cata {
        display: grid;
        grid-template-columns: 22% 68% 10%;
        grid-template-rows: 25px auto;
        grid-template-areas: 
        "img-cata tit-cata carrito"
        "img-cata txt-cata txt-cata";
    }

    .img-cata {
        margin: auto 0 auto 10%;
    }

    .tit-cata {
        font-size: 13px;
        margin: 1% 0 0 12%;
    }

    .txt-cata {
        font-size: 8px;
        margin: 0 0 0 12%;
    }

    .carrito {
        height: 13px;
        width: 13px;
        margin-top: 1%;
    }

    .cata-item {
        width: 97px;
        height: 135px;
    }

    .prox-sign {
        display: none;
    }

    /* SOUNDTRACKS */
    .portada-st {
        display: none;
    }

    .portada-st-txt {
        display: none;
    }

    .st-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 20px 176px;
        font-size: 8px;
        margin-top: 50px;
        column-gap: 3%;
        grid-template-areas: 
        "txt-st1 txt-st2 txt-st3 txt-st4"
        "tema1 tema2 tema3 tema4";
    }

    .tema1, .tema2, .tema3, .tema4 {
        height: 176px;
        width: 100%;
    }

    /* TRAILERS */
    .trail-cont {
        margin-top: 110px;
        max-width: 200px;
        margin: 110px auto;
        justify-content: space-around;
    }

    .trail-item {
        width: 280px;
        height: 157px;
    }

    /* CONTACTO */
    form {
        margin-top: 60px;
        margin-bottom: 20px;
        max-width: 200px;
        padding: 5px;
    }

    .form-input {
        font-size: 7px;
        padding: 5px;
    }

    .form-mensaje {
        padding-bottom: 25px;
        margin-bottom: 7px;
    }

    .titulo-form {
        font-size: 10px;
    }
}
