@charset "UTF-8";
/* RESET */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/* ANIMACIÓN DE CARGA */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ESTILOS PRESTABLECIDOS */
/* ANIMACIÓN DEL HOVER */
.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper > .grid-image-index {
  display: block;
  width: 100%;
}

.img-wrapper > .cont-hover-index {
  position: absolute;
  inset: 0;
  font-size: 14px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "League Spartan", sans-serif;
  text-align: left;
}

.img-wrapper > .grid-image-index,
.img-wrapper > .cont-hover-index {
  transition: 200ms ease-in-out;
}

.img-wrapper > .cont-hover-index.fade {
  opacity: 0;
}

.img-wrapper:hover > .cont-hover-index.fade {
  opacity: 1;
}

.img-wrapper:hover > .grid-image-index.blur {
  filter: blur(3px);
}

.img-wrapper:hover > .grid-image-index.zoom {
  transform: scale(1.2);
}

/* HEADER */
header {
  background: #0E0E7B;
  text-align: center;
  animation: fade-in 0.5s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .nav-title {
  color: #FFFFFF;
  font-family: "Stalinist One", cursive;
  font-size: 20px;
  margin: 0;
  padding: 16px;
}
header nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #0E0E7B;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav ul .h-act {
  background-color: #FFFFFF;
  color: #0E0E7B;
  padding: 10px;
  border-radius: 25px;
}
header nav ul .h-inact {
  transition: 0.5s;
}
header nav ul .h-inact:hover {
  background-color: #FFFFFF;
  color: #0E0E7B;
  padding: 10px;
  border-radius: 25px;
  transition: 0.5s;
}
header nav ul li {
  margin-bottom: 16px;
  margin-left: 16px;
  font-family: "League Spartan", sans-serif;
}
header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 19px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
header .burger-menu {
  display: none;
}
header .burger-menu-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 16px;
  height: 100%;
  display: flex;
  align-items: center;
}
header .burger-menu-label span,
header .burger-menu-label span::before,
header .burger-menu-label span::after {
  display: block;
  background: #FFFFFF;
  height: 2px;
  width: 32px;
  border-radius: 5px;
  position: relative;
}
header .burger-menu-label span::before,
header .burger-menu-label span::after {
  content: "";
  position: absolute;
}
header .burger-menu-label span::before {
  bottom: 8px;
}
header .burger-menu-label span::after {
  top: 8px;
}
header .burger-menu:checked ~ nav {
  transform: scale(1, 1);
}
header .burger-menu:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media only screen and (min-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  header .nav-title {
    grid-column: 2/span 1;
  }
  header nav {
    all: unset;
    grid-column: 3/span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    margin-left: 48px;
    margin-bottom: 0;
  }
  header nav ul li a {
    opacity: 1;
  }
  header .burger-menu-label {
    display: none;
  }
}
/* @media only screen and (max-width: 500px) {
    header {
        height: 40px;
        .header-tit {
            font-size: 16px;
            margin: 2% 8% 0 2%;
        }
        ul {
            font-size: 10px;
            margin-top: 5%;
            li a {
                margin-right: 4px;
            }
        }
    }
} */
/* FOOTER */
#footer {
  background-color: #0E0E7B;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
}
#footer .links-footer {
  font-family: "League Spartan", sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}
#footer .links-footer a {
  margin-right: 65px;
}
#footer .links-footer li {
  display: inline-block;
}
#footer .f-inactive:link {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.5s;
}
#footer .f-inactive:visited {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.5s;
}
#footer .f-inactive:hover {
  text-decoration: underline;
  transition: 0.5s;
}
#footer .f-active {
  color: #FFFFFF;
  text-decoration: underline;
}
#footer .f-info {
  color: #FFFFFF;
  user-select: all;
  width: 80%;
  margin: 0 auto;
  display: flex;
  cursor: default;
  justify-content: space-between;
}
#footer .f-info .f-tit {
  font-family: "Stalinist One", cursive;
  font: 16px;
}
#footer .f-info .cr-f {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
}
#footer .f-info .redes-footer ul li {
  display: inline-block;
}
#footer .f-info .redes-footer ul li a {
  margin-right: 10%;
}
#footer .f-info .redes-footer ul li .red-item {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 500px) {
  .links-footer {
    font-size: 10px;
  }
  .links-footer a {
    margin-right: 20px;
  }
  .f-info .f-tit {
    font-size: 8px;
  }
  .f-info .cr-f {
    font-size: 6px;
  }
  .f-info .red-item {
    width: 25px;
    height: 25px;
  }
}
/* INDEX */
/* CARRUSEL */
#carr-sign, #carr-prev #carr-next {
  z-index: 1;
}

#carr {
  z-index: -2;
  width: 100%;
  height: 399px;
  margin-top: 56px;
}
#carr #carr-img1 {
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
  -moz-filter: brightness(40%);
}
#carr #carr-img2 {
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
}
#carr #carr-img3 {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
}
#carr #carr-text {
  font-family: "League Spartan", sans-serif;
}
#carr #carr-text h3 {
  font-weight: 800;
  letter-spacing: 3px;
}
#carr #carr-text p {
  font-size: 20px;
}

/* GRILLAS DE CATEGORÍAS */
.categoria-container {
  margin: 3% 5% 75px 5%;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 50px auto;
  column-gap: 5%;
  grid-template-areas: "categoria categoria categoria categoria categoria" "item1 item2 item3 item4 item5";
}
.categoria-container .tit-cate {
  grid-area: categoria;
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
}
.categoria-container .griditemindex1 {
  grid-area: item1;
}
.categoria-container .griditemindex2 {
  grid-area: item2;
}
.categoria-container .griditemindex3 {
  grid-area: item3;
}
.categoria-container .griditemindex4 {
  grid-area: item4;
}
.categoria-container .griditemindex5 {
  grid-area: item5;
}
.categoria-container .grid-image-index {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  #carouselExampleCaptions {
    display: none;
  }
  .categoria-container {
    margin-top: 50px;
  }
  .categoria-container .tit-cate {
    font-size: 16px;
  }
}
/* CATÁLOGO */
/* SELECTOR DE PAGINAS*/
.page-selector {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  font-family: "League Spartan", sans-serif;
  margin-top: 90px;
  margin-bottom: 50px;
  animation: fade-in 0.5s ease;
}
.page-selector ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.page-selector ul .item-selector-inact {
  color: #0E0E7B;
  border: 1px solid rgb(168, 168, 168);
  transition: 0.5s;
}
.page-selector ul .item-selector-act {
  color: #FFFFFF;
  background-color: #0E0E7B;
  border: 1px solid #0E0E7B;
}
.page-selector ul .item-selector-act, .page-selector ul .item-selector-inact {
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
}
.page-selector ul .item-selector-inact:hover {
  background-color: #0E0E7B;
  border: 1px solid #0E0E7B;
  color: #FFFFFF;
  transition: 0.5s;
}

/*
#pag-select {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 2%;
    animation: fade-in 0.5s ease;
    font-family: 'League Spartan', sans-serif;
    #pag-sel-act {
        background-color: #0E0E7B;
        color: white;
    }
    #pag-sel-inact {
        color: #0E0E7B;
        transition: 0.5s;
    }
    #pag-sel-inact:hover {
        background-color: #0E0E7B;
        color: #FFFFFF;
        transition: 0.5s;
    }
    .box-sel1 {
        border-radius: 10px 0 0 10px;
    }
    .box-sel2 {
        border-radius: 0 0 0 0;
    }
    .box-sel3 {
        border-radius: 0 10px 10px 0;
    }
}
*/
.card-catalogo {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #0E0E7B;
  animation: fade-in 0.5s ease;
  transition: 0.5s;
  color: #FFFFFF;
  text-align: center;
  padding: 2em;
  border-radius: 15px;
  margin-bottom: 5%;
}
.card-catalogo .multi-sb .game-img {
  width: 146px;
  height: 202px;
  margin-bottom: 0.75em;
  border-radius: 15px;
  border: 3px solid #FFFFFF;
}
.card-catalogo .multi-sb .multim-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 125px;
  margin: 0 auto;
}
.card-catalogo .multi-sb .multim-list .multim-link {
  opacity: 0.5;
  font-size: 1.25rem;
  transition: 0.5s;
}
.card-catalogo .multi-sb .multim-list .multim-link:hover {
  opacity: 1;
  transition: 0.5s;
}
.card-catalogo .game-main {
  font-family: "League Spartan", sans-serif;
}
.card-catalogo .game-main .game-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}
.card-catalogo .game-main .game-info, .card-catalogo .game-main .game-sinopsis {
  font-size: 14px;
  font-weight: 300;
}

.card-catalogo:hover {
  transform: translateY(-15px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

@media only screen and (min-width: 600px) {
  .card-catalogo {
    flex-direction: row;
  }
  .game-main {
    text-align: left;
    margin-left: 2em;
  }
}
/* SOUNDTRACKS */
.portada-st {
  width: 100%;
  height: 399px;
  margin-top: 56px;
  animation: fade-in 0.5s ease;
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
  -moz-filter: brightness(40%);
}

.portada-st-txt {
  color: white;
  position: absolute;
  top: 50%;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  animation: fade-in 0.5s ease;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.st-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 352px;
  font-family: "League Spartan", sans-serif;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
  column-gap: 3%;
  grid-template-areas: "txt-st1 txt-st2 txt-st3 txt-st4" "tema1 tema2 tema3 tema4";
}
.st-container .txt-st1 {
  grid-area: txt-st1;
  margin: 0 auto;
}
.st-container .txt-st2 {
  grid-area: txt-st2;
  margin: 0 auto;
}
.st-container .txt-st3 {
  grid-area: txt-st3;
  margin: 0 auto;
}
.st-container .txt-st4 {
  grid-area: txt-st4;
  margin: 0 auto;
}
.st-container .tema1 {
  grid-area: tema1;
}
.st-container .tema2 {
  grid-area: tema2;
}
.st-container .tema3 {
  grid-area: tema3;
}
.st-container .tema4 {
  grid-area: tema4;
}
.st-container .tema1, .st-container .tema2, .st-container .tema3, .st-container .tema4 {
  height: 352px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .portada-st {
    display: none;
  }
  .portada-st-txt {
    display: none;
  }
  .st-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 176px;
    font-size: 8px;
    margin-top: 60px;
    column-gap: 3%;
    grid-template-areas: "txt-st1 txt-st2 txt-st3 txt-st4" "tema1 tema2 tema3 tema4";
  }
  .st-container .tema1, .st-container .tema2, .st-container .tema3, .st-container .tema4 {
    height: 176px;
    width: 100%;
  }
}
/* TRAILERS */
.trail-cont {
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.trail-cont .trail-item {
  width: 560px;
  height: 315px;
}

@media only screen and (max-width: 500px) {
  .trail-cont {
    margin-top: 110px;
    max-width: 200px;
    margin: 110px auto;
    justify-content: space-around;
  }
  .trail-cont .trail-item {
    width: 280px;
    height: 157px;
  }
}
/* CONTACTO */
form {
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
  margin: 120px auto;
  background-color: #0E0E7B;
  animation: fade-in 0.5s ease;
}
form .form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form .titulo-form {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: "League Spartan", sans-serif;
}
form .form-input {
  margin-top: 10px;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  padding: 10px;
  outline: none;
  border: none;
  border: 1px solid rgb(154, 152, 152);
  border-radius: 15px;
}
form .form-mensaje {
  resize: none;
  padding-bottom: 50px;
  margin-bottom: 15px;
}
form .form-rta {
  background-color: #FFFFFF;
  border: none;
  font-weight: 700;
  cursor: pointer;
  color: #0E0E7B;
  transition: 0.5s;
}
form .form-rta:hover {
  text-decoration: underline;
  transition: 0.5s;
}

@media only screen and (max-width: 500px) {
  form {
    margin-top: 60px;
    margin-bottom: 20px;
    max-width: 200px;
    padding: 5px;
  }
  form .form-input {
    font-size: 7px;
    padding: 5px;
  }
  form .form-mensaje {
    padding-bottom: 25px;
    margin-bottom: 7px;
  }
  form .titulo-form {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
