footer {
    margin-top: 40px;
    background-color: $main-color;
    height: 230px;
    position: relative;
    bottom: 0;
    animation: fade-in 0.5s ease;
    box-shadow: 30px 0 0 0;
    .social-footer {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        font-size: 36px;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            li {
                margin-top: 25px;
                transition: 0.5s;
                width: 36px;
                a {
                    color: #FFFFFF;
                }
            }
            li:hover {
                transform: translateY(-10px);
                transition: 0.5s;
            }
        }
        h6 {
            margin-top: 10px;
            text-align: center;
            max-width: 250px;
        }
        h6::before {
            content: '';
            position: absolute;
            margin: 0 auto;
            background-color: #FFFFFF;
            height: 2px;
            width: 200px;
            border-radius: 20px;
        }
    }
    .links-footer {
        max-width: 750px;
        margin: 45px auto;
        font-family: $main-font;
        font-size: 20px;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding: 0;
            li {
                transition: 0.5s;
                a {
                    color: #FFFFFF;
                    text-decoration: none;

                }
            }
            li:hover {
                transform: translateY(-5px);
                transition: 0.5s;
            }
        }
    }
    .cr-footer {
        text-align: center;
        font-family: $main-font;
        color: #FFFFFF;
        font-size: 10px;
        margin-top: 45px;
    }
}