header {
    background: $main-color;
    text-align: center;
    animation: fade-in 0.5s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .nav-title {
        color: #FFFFFF;
        font-family: 'Stalinist One', cursive;
        font-size: 20px;
        margin: 0;
        padding: 16px;
    }
    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background: $main-color;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            .h-act {
                background-color: #FFFFFF;
                color: $main-color;
                padding: 10px;
                border-radius: 25px;
            }
            .h-inact {
                transition: 0.5s;
            }
            .h-inact:hover {
                background-color: #FFFFFF;
                color: $main-color;
                padding: 10px;
                border-radius: 25px;
                transition: 0.5s;
            }
            li {
                margin-bottom: 16px;
                margin-left: 16px;
                font-family: $main-font;
                a {
                    color: #FFFFFF;
                    text-decoration: none;
                    font-size: 19px;
                    opacity: 0;
                    transition: opacity 150ms ease-in-out;
                }
            }
        }
    }
    .burger-menu {
        display: none;
    }
    .burger-menu-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 16px;
        height: 100%;
        display: flex;
        align-items: center;
        span,
        span::before,
        span::after {
            display: block;
            background: #FFFFFF;
            height: 2px;
            width: 32px;
            border-radius: 5px;
            position: relative;
        }
        span::before,
        span::after {
            content: '';
            position: absolute;
        }
        span::before {
            bottom: 8px;
        }
        span::after {
            top: 8px;
        }
    }
    .burger-menu:checked ~ nav {
        transform: scale(1, 1);
        a {
            opacity: 1;
            transition: opacity 250ms ease-in-out 250ms;
        }
    }
}