/* SELECTOR DE PAGINAS*/

.page-selector {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    font-family: $main-font;
    margin-top: 90px;
    margin-bottom: 50px;
    animation: fade-in 0.5s ease;
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        .item-selector-inact {
            color: $main-color;
            border: 1px solid rgb(168, 168, 168);
            transition: 0.5s;
        }
        .item-selector-act {
            color: #FFFFFF;
            background-color: $main-color;
            border: 1px solid $main-color;
        }
        .item-selector-act, .item-selector-inact {
            text-decoration: none;
            padding: 10px;
            border-radius: 15px;
            font-size: 18px;
        }
        .item-selector-inact:hover {
            background-color: $main-color;
            border: 1px solid $main-color;
            color: #FFFFFF;
            transition: 0.5s
        }
    }
}










/*
#pag-select {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 2%;
    animation: fade-in 0.5s ease;
    font-family: 'League Spartan', sans-serif;
    #pag-sel-act {
        background-color: #0E0E7B;
        color: white;
    }
    #pag-sel-inact {
        color: #0E0E7B;
        transition: 0.5s;
    }
    #pag-sel-inact:hover {
        background-color: #0E0E7B;
        color: #FFFFFF;
        transition: 0.5s;
    }
    .box-sel1 {
        border-radius: 10px 0 0 10px;
    }
    .box-sel2 {
        border-radius: 0 0 0 0;
    }
    .box-sel3 {
        border-radius: 0 10px 10px 0;
    }
}
*/
.card-catalogo {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: $main-color;
    animation: fade-in 0.5s ease;
    transition: 0.5s;
    color: #FFFFFF;
    text-align: center;
    padding: 2em;
    border-radius: 15px;
    margin-bottom: 5%;
    .multi-sb {
        .game-img {
            width: 146px;
            height: 202px;
            margin-bottom: 0.75em;
            border-radius: 15px;
            border: 3px solid #FFFFFF;
        }
        .multim-list {
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 125px;
            margin: 0 auto;
            .multim-link {
                opacity: 0.5;
                font-size: 1.25rem;
                transition: 0.5s;
            }
            .multim-link:hover {
                opacity: 1;
                transition: 0.5s;
            }
        }
    }
    .game-main{
        font-family: 'League Spartan', sans-serif;
        .game-title {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 2px;
        }
        .game-info, .game-sinopsis {
            font-size: 14px;
            font-weight: 300;
        }
    }
}
.card-catalogo:hover {
    transform: translateY(-15px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}